@{
    this.Layout = null;
}


@*@Html.TextBox("ExcursionID", (int)ViewBag.ExcursionID, new { @readonly = "readonly" })*@
@*@Html.Hidden("excursionID", (int)ViewBag.ExcursionID)*@

<div class="file-input-wrapper">
    <button class="btn-file-input">Upload image</button>
    <input type="file" id="Pictures" name="Pictures" value="Загрузить фотки" multiple accept="image/*" onchange="handleFileSelect(this);" />
</div>
<div class="images"><br /></div>


<script>
    //http://www.raymondcamden.com/2013/09/10/Adding-a-file-display-list-to-a-multifile-upload-HTML-control
    function handleFileSelect(e) {

        //if (!e.files) return;
        if (!e.files || !window.FileReader) return;

        var files = e.files;
        var fileNames = "";
        var filesArr = Array.prototype.slice.call(files);

        for (var i = 0; i < filesArr.length; i++) {
            var file = files[i];
            if (!file.type.match("image.*")) {
                return;
            }
            var reader = new FileReader();
            //reader.onload = function (e) {
            //    $('#blah').attr('src', e.target.result);
            //}

            reader.onload = function (e) {
                $(".images").append(" <img class='arrayimg' src='" + e.target.result + "' width='50' height='50' />");
            }
            reader.readAsDataURL(file);
        }
        $(".images").html(fileNames);

    }


    // EditTour Remove Picture
    function SelectPicture(o) {
        if ($(o).css("opacity") == "1") {
            $(o).css("opacity", ".4");
        } else {
            $(o).css("opacity", "1");
        }
        AddHiddenID();
    }

    function AddHiddenID() {
        var array = "";
        $(".image").each(function () {
            if ($(this).css("opacity") != "1") {
                array += $(this).attr("id") + ",";
            }
        });

        $("#PictureArray").val(array);

        if ($("#PictureArray").val().length != 0) {
            $("#RemoveBtn").removeClass("disabled");
            $("#DeletePicture").text("");
        }
        else
            $("#RemoveBtn").addClass("disabled");
    }

    function RemovePicture(o) {
        if ($("#PictureArray").val().length == 0) {
            $(o).addClass("disabled");
            $("#DeletePicture").text("Please, select images for delete.");
            return false;
        } else {
            $(o).removeClass("disabled");
            $("#DeletePicture").text("");
            return true;
        }
        return false;
    }

    // End Remove Picutre
</script>

