<style>
    section img {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="row 100%">
    <div ng-repeat="tour in tours" class="4u 12u$(medium)" id="{{ tour.Id }}">
        <section class="box">
            <a href="../Excursion/View/{{ tour.Id }}" id="link_{{ tour.Id }}">
                <img ng-repeat="image in tour.Photo" class="imgTour"
                     id="{{ image.ID }}" ng-src="data:{{image.ContentType}};base64,{{image.Image}}"
                     alt="{{ image.FileName }}" />
                <img ng-show="tour.Photo.length == 0" src="../Content/images/UI/no_image.svg" />
            </a>
            <a href="../Excursion/View/{{ tour.Id }}">
                <h3>{{ tour.Title }}</h3>
            </a>

            <!--<p>{{ tour.Description }}</p>-->
            <md-card-actions layout="row" layout-align="center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="../Content/images/UI/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="../Content/images/UI/filter_list.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Share">
                    <md-icon md-svg-icon="../Content/images/UI/open_new.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </section>
    </div>
</div>

<script>
    $(function () {


    });
</script>

<style>
    .imgTour {
        transition: all .2s ease-in-out;
        opacity: 0.8;
    }

        .imgTour:hover {
            transform: scale(1.1);
            opacity: 1;
        }
</style>





