@*Сайт разработчика 
	https://github.com/vinayakjadhav/jR3DCarousel*@

<h3>trqwe;lkqjwefoiqwjfl;qwjeoij</h3>
	@*<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">*@
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="~/Content/Scripts/Slider/jR3DCarousel.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var slides = [{ src: 'http://katyaburg.ru/sites/default/files/pictures/krasota_prirody/krasivye_cvety_rozy_kartinki_foto_05.jpg' }, { src: 'http://dreempics.com/img/picture/Apr/28/67b0eb3e395465acf82403bde6824aac/5.jpg' }, { src: 'http://katyaburg.ru/sites/default/files/pictures/prikoly/neverouatno_krasivye_kartinki_17.jpg' }, { src: 'http://4.bp.blogspot.com/-hNAqNyepC4A/UcWvYrOUQUI/AAAAAAAAEkg/YSkjZFv5Iuo/s1600/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5+%D1%84%D0%BE%D1%82%D0%BE+%D0%B1%D0%B0%D0%B1%D0%BE%D1%87%D0%B5%D0%BA2.jpg' }, { src: 'http://dreempics.com/img/picture/Apr/28/67b0eb3e395465acf82403bde6824aac/5.jpg' }, { src: 'http://katyaburg.ru/sites/default/files/pictures/prikoly/neverouatno_krasivye_kartinki_17.jpg' }, { src: 'http://dreempics.com/img/picture/Apr/16/e2ff2a7f8081e2993fd3f1de22aaf7bb/11.jpg' }, { src: 'http://4.bp.blogspot.com/-hNAqNyepC4A/UcWvYrOUQUI/AAAAAAAAEkg/YSkjZFv5Iuo/s1600/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5+%D1%84%D0%BE%D1%82%D0%BE+%D0%B1%D0%B0%D0%B1%D0%BE%D1%87%D0%B5%D0%BA2.jpg' }]
			var jR3DCarousel;
			var carouselProps = {
				width: 878, 				/* largest allowed width */
				height: 455, 				/* largest allowed height */
				slideLayout: 'cover',     /* "contain" (fit according to aspect ratio), "fill" (stretches object to fill) and "cover" (overflows box but maintains ratio) */
				animation: 'slide3D', 		/* slide | scroll | fade | zoomInSlide | zoomInScroll */
				animationCurve: 'ease-in-out',
				animationDuration: 700,
				animationInterval: 2000,
				//slideClass: 'jR3DCarouselCustomSlide',
				autoplay: true,
				onSlideShow: show,		/* callback when Slide show event occurs */
				navigation: 'circles',	/* circles | squares */
				slides: slides 			/* array of images source or gets slides by 'slide' class */

			}
			function setUp() {
				jR3DCarousel = $('.jR3DCarouselGallery').jR3DCarousel(carouselProps);

				$('.settings').html('<pre>$(".jR3DCarouselGallery").jR3DCarousel(' + JSON.stringify(carouselProps, null, 4) + ')</pre>');

			}
			function show(slide) {
				console.log("Slide shown: ", slide.find('img').attr('src'))
			}
			$('.carousel-props input').change(function () {
				if (isNaN(this.value))
					carouselProps[this.name] = this.value || null;
				else
					carouselProps[this.name] = Number(this.value) || null;

				for (var i = 0; i < 999; i++)
					clearInterval(i);
				$('.jR3DCarouselGallery').empty();
				setUp();
				jR3DCarousel.showNextSlide();
			})

			$('[name=slides]').change(function () {
				carouselProps[this.name] = getSlides(this.value);
				for (var i = 0; i < 999; i++)
					clearInterval(i);
				$('.jR3DCarouselGallery').empty();
				setUp();
				jR3DCarousel.showNextSlide();
			});

			function getSlides(no) {
				slides = [];
				for (var i = 0; i < no; i++) {
					slides.push({ src: 'https://unsplash.it/' + Math.floor(1366 - Math.random() * 200) + '/' + Math.floor(768 + Math.random() * 200) })
				}
				return slides;
			}

			//carouselProps.slides = getSlides(7);
			setUp();

		});
	</script>

	<style type="text/css">
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			background: darkcyan;
		}

		.container {
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
			overflow: hidden;
		}

		.jR3DCarouselGallery, .jR3DCarouselGallery1 {
			margin: 0 auto; /* optional - if want to center align */
		}

		.container {
			text-align: center;
		}

		.wrapper {
			padding-right: 10px;
			padding-left: 10px;
			width: 48%;
			height: 299px;
			float: left;
			overflow: auto;
			border-left: 1px solid #999;
		}

			.wrapper div {
				margin: 8px auto;
			}
	</style>
<div class="container">
	<h1>jR3DCarousel - jQuery 3D Responsive Carousel</h1>
	<br />
	<div>
		<div class="jR3DCarouselGallery"></div>
	</div>
	<br />
	<hr />
</div>