@{
    ViewBag.Title = "TraveBug - Tour";
    this.Layout = "~/Views/Shared/_LayoutMin.cshtml";

}
<style>
    .s48 {
        width: 68px;
        height: 68px;
    }

    .span4 {
        margin-left: 18%;
    }

    .imgMax {
        width: 630px;
        height: 425px;
    }

    .image_background {
        background-image: url(../../Content/Style/images/dark_tint.png), url(../../Content/Style/images/Moscow_min.jpg);
        background-position: center center;
        background-size: cover;
    }


    /*#region Loader */
    .load_circular {
        height: 135px;
    }

    /*#endregion */

    /*#region text description */

    section.special {
        text-align: inherit;
    }

    /*#endregion */
    /*Костыль, почему в футоре появляется див пустой*/ 
    #skel-layers-hiddenWrapper {
            height: 0% !important;
    }
</style>


<script>
    var tourID = @ViewBag.ExcursionID;
</script>

<section id="main" class="wrapper style1 special image_background">
    @*<div ng-include src="'../../TravelBug.UI/Partials_UI/TourPartialView.html'"></div>*@



    <div class="container" ng-controller="excursionCtrl as exCtrl">

        <md-content layout-padding class="load_circular" ng-if="!isReady">
            @*ng-if="!isReady"*@
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-diameter="96"></md-progress-circular>
            </div>
        </md-content>

        <section class="box" ng-cloak ng-if="isReady">
            <header class="major">
                <h3>{{ tour.Title }} </h3>
            </header>
            <div class="row">
                <div class="span4 text-center" ng-if="tour.Time">
                    <md-icon class="s48" md-svg-icon="../../Content/images/UI/time.svg"></md-icon>
                    <p>{{ tour.Time.Option }}</p>
                </div>
                <div class="span4 text-center" ng-if="tour.Cost">

                    <md-icon class="s48" md-svg-icon="../../Content/images/UI/money_on.svg"></md-icon>
                    <p>{{ tour.Cost.Money }}</p>
                </div>
                <div class="span4" ng-if="!tour.Cost">
                    <md-icon class="s48" md-svg-icon="../../Content/images/UI/money_off.svg"></md-icon>
                </div>
                <div class="span4 ">
                    <md-icon class="s48" md-svg-icon="../../Content/images/UI/talk.svg"></md-icon>
                    <div>
                        <div ng-repeat="lang in tour.Language" style=" margin-bottom: -15px;">
                            <p>{{ lang.Name_Language }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <div class="row">
                    @*<textarea ng-model="tour.Description" readonly="readonly"></textarea>*@
                    <div class="col-md-5">
                        <xmp style="white-space: pre-wrap;">{{ tour.Description }}</xmp>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div ng-repeat="image in tour.Photo" style="{{ image.Delete ? '' : 'display: none;'}}" class="md-shadow" ng-click="showNextImage();">
                                <img id="{{ image.ID }}" ng-src="data:{{image.ContentType}};base64,{{image.Image}}"
                                     alt="{{ image.FileName }}" class="img-fluid imgMax" />
                            </div>
                        </div>
                    </div>

                </div>
            </p>
        </section>
</section>
    </div>
</section>



<section id="three" class="wrapper style3 special">
    @Html.Partial("~/Views/Partials/ContactFormPartial.cshtml")
</section>

<script src="~/TravelBug.UI/Services/TourService.js"></script>
<script src="~/TravelBug.UI/Controllers/ExcursionController.js"></script>
