<md-dialog aria-label="Создание тура">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Создание тура ({{ Card.Id }})</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <!--md-svg-src="img/icons/ic_close_24px.svg"-->
                <md-icon aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!--style="max-width:800px;max-height:810px; "-->
    <md-dialog-content ng-show="isReady">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Общая информация">
                <md-content class="md-padding">
                    <div ng-include src="'../TravelBug.UI/Directives/TourDialogEdit/TourEdit.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Фото, картинки ...">
                <md-content class="md-padding" style="width: 1000px;">
                    <div ng-include src="'../TravelBug.UI/Directives/TourDialogEdit/TourEdit_LoadImages.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Удаление картинок">
                <md-content class="md-padding" style="width: 1000px;">
                    <div ng-include src="'../TravelBug.UI/Directives/TourDialogEdit/TourEdit_RemoveImages.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="Empty tab">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>

    <div ng-hide="isReady">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>

    <md-dialog-actions layout="row">

        <section layout="row" layout-sm="row" layout-align="end end" layout-wrap>
            <md-button ng-click="SaveAs(true)"
                       class="md-raised md-warn">Сохранить как</md-button>
            <md-button ng-click="SaveAs()"
                       ng-disabled="!myForm.invitation.$valid"
                       class="md-raised md-warn">Сохранить и закрыть</md-button>
        </section>
        <span flex></span>
        <md-button class="md-raised md-primary"
                   ng-click="closeDialog()">
            Закрыть
        </md-button>
        <!--<md-button ng-click="answer('not useful')">
            Not Useful
        </md-button>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
            Useful
        </md-button>-->
    </md-dialog-actions>
</md-dialog>