<section>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Hide</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="image in images">
                <td>{{ image.image.ID }}</td>
                <td>
                    <img class="edit_img" style="width: 600px;height: 450px;"
                         id="{{ image.image.ID }}" ng-src="data:{{image.image.ContentType}};base64,{{image.image.Image}}"
                         alt="{{ image.image.FileName }}" />
                </td>
                <td>
                    <md-checkbox ng-checked="image.hide" ng-click="checkClickImage(image,'hide')">
                        Hide
                    </md-checkbox>
                </td>
                <td>
                    <md-checkbox ng-checked="image._delete" ng-click="checkClickImage(image,'_delete')">
                        Delete
                    </md-checkbox>
                </td>
            </tr>
        </table>
    </div>
</section>
<input type="button" value="check" ng-click="check()" />
