<section id="EditImage">
    <input type="hidden" id="ExcursionID" value="{{ Card.Id }}" />
    <input type="hidden" id="ImagesRemoveArray" />
    <!--@Html.Hidden("ExcursionID", Model.Id);-->
    <!--@Html.Hidden("ImagesRemoveArray");-->
    <div>
        <header>
            <h2>Album</h2>
            <p>Select the pictures to delete</p>
        </header>
        <div>
            <div>
                <input type="button" value="load file" ng-click="loadFile()" />
                <div>
                    <img ng-repeat="image in images" class="edit_img" id="{{ image.ID }}" ng-src="data:{{image.ContentType}};base64,{{image.Image}}" alt="{{ image.FileName }}" />
                </div>
                <!--<span class="btn btn-default RemoveImage_button" onclick="JsonRemoveImages();">Remove image</span>-->
            </div>
        </div>
    </div>
</section>


<div class="file-input-wrapper">
    <span class="button alt icon fa-download" onclick="LoadImages();">Load images</span>
    <input type="file"
           id="Pictures"
           name="Pictures"
           value="Загрузить фотки"
           multiple accept="image/*"
           onchange="handleFileSelect(this);"
           style="display: none;" />
</div>
<div class="images"><br /></div>


<script>
    //http://www.raymondcamden.com/2013/09/10/Adding-a-file-display-list-to-a-multifile-upload-HTML-control
    function handleFileSelect(e) {

        //if (!e.files) return;
        if (!e.files || !window.FileReader) return;

        var files = e.files;
        var fileNames = "";
        var filesArr = Array.prototype.slice.call(files);

        for (var i = 0; i < filesArr.length; i++) {
            var file = files[i];
            if (!file.type.match("image.*")) {
                return;
            }
            var reader = new FileReader();
            //reader.onload = function (e) {
            //    $('#blah').attr('src', e.target.result);
            //}

            reader.onload = function (e) {
                $(".images").append(" <img class='arrayimg' src='" + e.target.result + "' width='50' height='50' />");
            }
            reader.readAsDataURL(file);
        }
        $(".images").html(fileNames);

    }


    // EditTour Remove Picture
    function SelectPicture(o) {
        if ($(o).css("opacity") == "1") {
            $(o).css("opacity", ".4");
        } else {
            $(o).css("opacity", "1");
        }
        AddHiddenID();
    }

    function AddHiddenID() {
        var array = "";
        $(".image").each(function () {
            if ($(this).css("opacity") != "1") {
                array += $(this).attr("id") + ",";
            }
        });

        $("#PictureArray").val(array);

        if ($("#PictureArray").val().length != 0) {
            $("#RemoveBtn").removeClass("disabled");
            $("#DeletePicture").text("");
        }
        else
            $("#RemoveBtn").addClass("disabled");
    }

    function RemovePicture(o) {
        if ($("#PictureArray").val().length == 0) {
            $(o).addClass("disabled");
            $("#DeletePicture").text("Please, select images for delete.");
            return false;
        } else {
            $(o).removeClass("disabled");
            $("#DeletePicture").text("");
            return true;
        }
        return false;
    }

    function LoadImages() {
        $("#Pictures").click();
    }
    // End Remove Picutre
</script>
