@model List<TravelBug.Models.TravelBugModel.Excursion>
<link rel="stylesheet" href="~/Content/Style/Excursion.css" />

<div class="container">
    <header class="major">
        <div class="row 150%">
            @for (int i = 1; i < Model.Count(); i++)
            {
                var cl = i % 3 != 0 ? "4u" : "4u$";
                <div class="@cl">
                    <span class="image fit">
                        <a href="/Excursion/View?excursionID=@Model[i].Id">
                            @if (Model[i].Photo != null && Model[i].Photo.Count > 0)
                {
                                <img src="@Url.Action("GetUrlFromPictureOfExcursion", "ShowImage", new { excursionID = Model[i].Id })" alt="" />
                            }
                            else
                            {
                                <img src="~/Content/images/Tour/camera-photo-min.png" alt="" />
                            }

                        </a>
                    </span>
                </div>
                @*<h4>@Model[i].Title</h4>*@
            }

        </div>
    </header>
</div>

@*@Html.Partial("~/Views/Partials/ExcursionPartialView.cshtml", Model[i])*@
