@model List<TravelBug.Models.TravelBugModel.Excursion>

<link href="~/Content/Style/Excursion.css" type="text/css" rel="stylesheet" />

<div>
    <ul class="grid list-votes-users">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li class="col n-6">



                <a href="/Excursion/View?excursionID=@Model[i].Id">
                    @if (Model[i].Photo != null && Model[i].Photo.Count > 0)
                    {
                        <img class="main_image" src="@Url.Action("GetUrlFromPictureOfExcursion", "ShowImage", new { excursionID = Model[i].Id })" alt="" />
                    }
                    else
                    {
                        <img class="main_image" src="~/Content/images/Tour/camera-photo-min.png" alt="" />
                    }
                    <span class="info">@Model[i].Title</span>
                </a>

            </li>
        }
    </ul>
</div>
@*@Html.Partial("~/Views/Partials/ExcursionPartialView.cshtml", Model[i])*@

<script>

</script>