@{
    ViewBag.Title = "Index";
    this.Layout = null;
}


<section class="all_excursions">
    @*@Html.Action("GetAllExcursions", "Excursion")*@
    @{
        List<TravelBug.Models.TravelBugModel.Excursion> excursions = (List<TravelBug.Models.TravelBugModel.Excursion>)ViewBag.Excursions;
        @Html.Partial("~/Views/Partials/ExursionsPartialView.cshtml", excursions)
    }
</section>
